---
import type { Props } from "@astrojs/starlight/props";
import Default from "@astrojs/starlight/components/Sidebar.astro";

import { Icon as AstroIcon } from "astro-icon/components";
import { lookupProductTitle } from "~/util/sidebar";

const [product, module] = Astro.url.pathname.split("/").slice(1, -1);
---

<a
	href={"/" + product + "/"}
	class="flex items-center decoration-[color:var(--orange-accent-200)] hover:opacity-80"
>
	<AstroIcon
		name={product}
		class="mr-2 text-4xl text-[color:var(--orange-accent-200)]"
	/>
	<span class="text-black">
		<strong>
			{lookupProductTitle(product, module)}
		</strong>
	</span>
</a>
<!-- @ts-expect-error sidebar props don't match as we add additional things -->
<Default {...Astro.props} sidebar={Astro.props.sidebar.entries}
	><slot /></Default
>

<style is:global>
	:root {
		.sidebar-content {
			--sl-color-hairline-light: #cacaca !important;

			& > * {
				a {
					padding: 0.2375em var(--sl-sidebar-item-padding-inline) !important;

					&[aria-current="page"] {
						background-color: unset !important;
						border: unset !important;
						border-color: unset !important;
						color: var(--sl-color-accent) !important;
						font-weight: 600 !important;
					}
				}

				summary {
					padding: 0.1375em var(--sl-sidebar-item-padding-inline) !important;
				}

				.large {
					color: var(--sl-color-gray-2) !important;
					font-weight: unset !important;
					font-size: unset !important;

					@media (min-width: 50rem) {
						font-size: var(--sl-text-sm) !important;
					}
				}

				.caret {
					font-size: 1rem !important;
				}
			}
		}
	}

	:root[data-theme="dark"] {
		.sidebar-content {
			--sl-color-hairline-light: #444444 !important;

			& > * a[aria-current="page"] {
				color: var(--sl-color-accent-high) !important;
			}
		}
	}
</style>
